.container {
  height: 1000px;
  width: 100%;
  background-image:
    linear-gradient(
      to right,
      white 0%,
      white 60%,
      black 60%,
      black 100%
    );
}

.valodle-logo {
  padding-left: 25px;
  padding-top: 25px;
  object-fit: fill;
  height: 75px;
  width: 350px;
}

.jett-background {
  z-index: 0;
  position: fixed;
  right: 0;
  width: 675px;
}

.flex-start {
  justify-content: flex-start;
}
